article {
	color: blue;
}

header>p {
	color: fuchsia;
}

body small {
	color: red;
}

h1, h2 {;
	
}

header ~ footer {
	font-size: xx-small;
}

a:hover {
	color: blue;
}
 
a:visited{
	color:lime;
} 

a:active{
	background-color: orange;
}
article {
	border: medium;
	border-color: red;
	border-style: groove;
}